.alldivs {

    border: 4px solid #000000;
    border-radius: 50px;
    text-align:center;
    line-height: 20px;

}

#div1 {
    background-color: rgb(240, 57, 157);
    width: 100px;
    height: 50px;
    font-family: 'Dancing Script', cursive;
    color: white;

    
}

#div2 {

    background-color: rgb(5, 156, 52);
    width: 100px;
    height: 50px;
    font-family: 'Dancing Script', cursive;
    color: white;
    
}

#div3 {

    background-color: rgb(73, 30, 214);
    width: 100px;
    height: 50px;
    font-family: 'Dancing Script', cursive;
    color: white;
    
   


}
